[2016-06-22 02:50] holyCoco opened #1 "Source file is not valid UTF-8."
When i drag the libdlib.a in my Xcode,the error "Source file is not valid UTF-8" appeared,and could you tell me how to solve？

[2016-06-22 14:35] zweigraf commented on #1
Could you tell me in more detail what you are trying to accomplish?

You do not need to drag the libdlib.a anywhere if you just want to run this project as is.

The error sounds like you dragged the libdlib.a into the "Compile Sources" section of the project. This is not correct.

[2016-06-23 01:14] holyCoco commented on #1
Is my carelessness, I solved the problem, thank you.

[2016-06-23 09:58] zweigraf commented on #1
Great to hear :) Have a great day.

[2016-06-23 09:58] #1 closed

[2016-07-08 15:07] WhiteRaby opened #2 "Issue with project's compiling"
Hi, Luis Reisewitz.
First of all thank you for the excellent work, your app works very well.
My issue is that When i tried to reproduce your project I had slow fps on my iPhone (when I compiled Your project it worked with good fps)

Below what I did:
1) Created new project
2) Copied all source files (both DlibWrapper, ViewController, SessionHandler, Bridging-Header, Storyboard file)
3) Created lib

[2016-07-15 13:19] zweigraf commented on #2
I have not had time to look at your project yet, but:

Please check your schemes and make sure that you are compiling the app in Release mode, not Debug mode.

[2016-07-18 13:44] WhiteRaby commented on #2
I changed this mode to the release and it solved my issue! Many thanks, Luis.

[2016-07-18 13:44] #2 closed

[2016-07-19 08:00] zweigraf commented on #2
Great to hear that that worked :) Happy to have helped.

[2016-07-19 11:50] skyfoxa opened #3 "Face detection from UIImage"
HI, great job, very helpfull project. I'm working on face detection for now, but I need detect face landmarks from an UIImage. Could you give me a hand how to switch the detection from video output? I don't have matedata and faceObject rects as you in AVCaptureVideoDataOutputSampleBufferDelegate, sou I use custom CIDetectorFaceType. But rects from my detector are very diferent from yours, so detec

[2016-07-27 07:21] virut26 opened #4 "How can I convert swift to objective-c"
How can I convert SessionHandler.swift file to objective-c

[2016-07-27 12:40] zweigraf commented on #3
Please check in which format the rects are that you get from ```CIDetectorFaceType```.

```AVCaptureVideoDataOutputSampleBufferDelegate``` delivers rectangles with valid values from ```0``` to ```1``` (0 being the leftmost point of the image, 1 being the rightmost; see <https://developer.apple.com/library/ios/documentation/AVFoundation/Reference/AVMetadataObject_Class/index.html#//apple_ref/occ/in

[2016-07-27 12:41] zweigraf commented on #4
Sorry I cannot do that work for you. You should be able to pretty easily copy Swift to Objective-C, just fixing the syntax on the way.

[2016-07-28 04:08] hoangdado opened #5 "Rotate camera orientation"
I had tried to set the camera orientation to Landscape or Portrait but the below code (in DlibWrapper.mm) still return width = 640 and height = 480 (with preset is AVCaptureSessionPreset640x480).
`size_t width = CVPixelBufferGetWidth(imageBuffer);`
`size_t height = CVPixelBufferGetHeight(imageBuffer);`
Then I couldn't  do the landmark detection in Portrait view. Could you fix it?

[2016-07-30 14:20] virut26 commented on #3
Could you please show some example code in Objective-c.

[2016-08-01 08:05] zweigraf commented on #3
@virut26 Please stop this. I am sure most professional iOS developer will be glad to port the Swift code to Objective-C. GitHub is not a marketplace for free work.

[2016-08-02 18:15] mosn opened #6 "How to reduce noise ?"
Currently, landmarks seems noisy and jump a lot (clear environment with sufficient light ), this is however a lot more stable when compiling dlib for OSX, is there something that we can do to improve the noise level on iOS?

[2016-08-02 18:30] zweigraf commented on #6
Thanks for your interest in this project.

I know what you are talking about with noisy, jumpy. Unfortunately I did not find a solution yet for this problem.

What do you mean with OSX? Did you use the same project on OSX?

I have one advice that could work, but I have not tested it. Maybe you should plot the rectangles that iOS gives you onto the camera image as well. Maybe these are a little bit

[2016-08-02 18:34] mosn commented on #6
Thanks for the quick update.good idea!  I'll give it a try and will let you know.

regarding OSX, I build form source for OSX per SATYA's [tutorial](http://www.learnopencv.com/facial-landmark-detection/)

[2016-08-05 15:00] #4 closed

[2016-08-05 18:57] mosn commented on #6
Could you please advice on where's the best place to do that ?(increase face rectangle)

I did some digging and it seems
`(dlib::rectangle)convertScaleCGRect:(CGRect)rect toDlibRectacleWithImageSize:(CGSize)size` is doing the conversion from  AVMetadataFaceObject bound to Dlib Rectangle, but increasing the size and origin in the that method wont fix it, instead it breaks face recognition.

I even

[2016-08-05 21:50] dmwesterhoff opened #7 "dlib link error iOS"
Hi, wondering if you can speak or provide guidance to this specific link time issue I'm having

_USER_ERROR__missing_dlib_all_source_cpp_file__OR__inconsistent_use_of_DEBUG_or_ENABLE_ASSERTS_preprocessor_directives

This happened when I tried to port the libdlib.a and wrapper classes to my project- I have attempted to change all build settings in my project to look like the example project. Any id

[2016-08-05 22:37] dmwesterhoff commented on #7
Believe to have tracked down the issue, it was due to a cocoapods flag that was using DEBUG=1 as a preprocessor macro

[2016-08-05 22:37] #7 closed

[2016-08-07 01:03] stanchiang commented on #5
^bump

same issue, more or less. i updated my plist to show portrait w/ home button at bottom (normal orientation) and attached the result. the "face landmark mask" is drawn upright but, the camera feed is rotated landscape.

@zweigraf maybe you could find some time to document how you construct your image? I've rotated AVCaptureVideoPreviewLayer before but rotating AVSampleBufferDisplayLayer does

[2016-08-07 02:44] hoangdado commented on #5
@stanchiang I found that if you change the camera orientation to portrait or landscape the values still are width = 640 and height = 480. I think it maybe the camera hardware will alsway output the buffer with this size. What you can do is rotating the image when copying pixel value from CVPixelBuffer to dlib::array2d<dlib::bgr_pixel>. In addition you need to rotate the input face rect.
I fixed th

[2016-08-07 02:50] stanchiang commented on #5
can you add some sample code for your implementation? i was trying to do something like that but it wasn't working right.

[2016-08-07 03:20] hoangdado commented on #5
For copying pixel values:
[code]
For rotate face rect, I think you should code yourself for convenience. You only need to change the `oneFaceRect`.

[2016-08-08 08:41] ArtSebus commented on #5
@hoangdado this code doesn't work for me, have you tested this ?

[2016-08-08 15:35] teresakozera commented on #5
Well, I also faced this problem. I didn't solve it but moved a little bit. Firstly, in the Target -> General:
![screen shot 2016-08-08 at 16 27 43](https://cloud.githubusercontent.com/assets/10118916/17485287/224ed7e2-5d85-11e6-88c2-e13849ff220e.png)

Next thing- 'SessionHandler.swift':

`func captureOutput(captureOutput: AVCaptureOutput!, didOutputSampleBuffer sampleBuffer: CMSampleBuffer!, fromC

[2016-08-08 18:40] hoangdado commented on #5
@teresakozera I solved your problem. You only need to update `convertScaleCGRect` method as bellow:

[code]
@stanchiang You can follow this solution. It is much easier than that I recommend you before. View my fork project for source code [https://github.com/hoangdado/face-landmarking-ios](url)

**Notice:** With my fix, I don't know why the mouth landmarks is not exactly correct while the others

[2016-08-08 19:16] ArtSebus commented on #5
@hoangdado  That fixed the issue, Thank you!
My issue is  the landmarks are not so accurate for the mouth and around the face. were you able to fix it ?

[2016-08-09 00:57] stanchiang commented on #5
@hoangdado thanks that helped a lot!

I also had to do an affine transformation on the layer so that the output isn't mirrored the opposite way with:

        layer.setAffineTransform(CGAffineTransformMakeRotation(CGFloat(M_PI)))
        layer.setAffineTransform(CGAffineTransformScale(layer.affineTransform(), 1, -1))

[2016-08-09 08:30] teresakozera commented on #5
@hoangdado, thank you! it works perfect, no distortion- even in the mouth region. :)

[2016-08-09 09:08] stanchiang commented on #5
@teresakozera for me the distorting is more of a stability issue when trying to maintain the tracking as the tolerance for difference angled faces seems to have gone down a bit for me when I try moving my face and the mask gets jittery.

Am I facing a different issue than you guys?

[2016-08-09 09:25] teresakozera commented on #5
@stanchiang I also observed this problem, but it also existed previously, with the ladndscape orientation. In my case it's not that big of an issue as I need it mostly in the direct position of the head towards camera. But I will also try to fix it- if I succeed I will certainly let you know. :)

[2016-08-09 17:27] mosn commented on #6
Bump
Did someone figure out how to remove noises, I don't think I'm the only one with this issue.

Also I increase the detected rectangle but that didn't help

[2016-08-09 21:39] stanchiang commented on #6
i'm working with a portrait orientation version of this app and i'm thinking it's less stable because we are initially passing the dlibwrapper function an image with smaller dimensions than the one we output. at a smaller scale the jumpiness wouldn't be so conspicuous, but upon ultimately scaling up the image we amplify the noise.

@zweigraf could that be it, at least for my issues?
if so, then i

[2016-08-10 18:32] ArtSebus commented on #5
@teresakozera something off topic, could you please tell me how you got the landmarking lines working ? all I see in the app is the dots

thanks

[2016-08-10 18:40] stanchiang commented on #5
@ArtSebus probably just used the function dlib::draw_line(img, <#const point &p1#>, <#const point &p2#>, <#const pixel_type &val#>);

[2016-08-10 18:54] ArtSebus commented on #5
@stanchiang could you please suggest what  should I  pass in for the parameters
`<#const point &p1#>, <#const point &p2#>, <#const pixel_type &val#>)`
 Sorry I am not that good with C programming

[2016-08-10 18:58] stanchiang commented on #5
@ArtSebus haven't touched c in a few years myself haha. bit it looks like you's need to pass in a couple dlib::point that you want to connect and then specify what type of line you want to draw for the last one. I'd try inputing 3 for the value. No reason for that number, its just the same number that was used when drawing the dots in the existing code.

[2016-08-10 19:55] stanchiang commented on #5
@teresakozera trying something a little different right now. i'm storing shape.parts[60-67] which make up the mouth in a separate array and trying to pass it into UIKit/SceneKit to draw it separately.

`[m addObject: [NSValue valueWithCGPoint:CGPointMake( [DlibWrapper pixelToPoints:p.x()], [DlibWrapper pixelToPoints:p.y()]) ]];`

converting from pixels to points using this function https://gist.gi

[2016-08-11 08:24] teresakozera commented on #5
@ArtSebus  line method, have a look at this: [https://github.com/chili-epfl/attention-tracker/blob/master/README.md](url) :)

@stanchiang - hmmm... a little bit odd. So with code from here and all the changes it works but when you try the above (a conversion from pixels to points) it detects landmarks in the other orientation? Does it happen after it is passed to UIKit or you check it before?

[2016-08-11 21:58] stanchiang commented on #5
@teresakozera - yea it goes
[dlib] -1a-> [AVSampleBufferDisplayLayer display entire mask]
[dlib] -1b-> [DlibWrapperDelegate w/ array of only mouth vertices] -> [uikit/skscene (has same result)]

here's my code to show you what i mean
https://github.com/stanchiang/face-landmarking-ios

if you go to gamescene.swift and comment out line 19: `if polygonNode != nil { polygonNode.removeFromParent() }`

[2016-08-12 08:34] teresakozera commented on #5
@stanchiang- I will have a look at it on Monday, as today I'm heading for a little bit longer weekend. Anyway I hope you manage to solve this problem earlier. :) Have a nice weekend!

[2016-08-18 06:47] sunnyvegas opened #8 "iOS installation issues"
I download the code, works fine in xcode, how do I import the library to another xcode project? I tried adding it and it says it cant find the file, and I updated framework search paths, is there a compiler setting I need to use or something? Thanks for your time.....

[2016-08-19 05:04] morizotter commented on #5
@hoangdado @stanchiang Thanks! I used your solution and almost all problems solved. Later, I found the better - just I think - way.

I made pull request: https://github.com/zweigraf/face-landmarking-ios/pull/9 . In this pr, I convert faceObject in SessionHandler for fitting the given orientation.

How do you think??

[2016-08-20 09:53] ArtSebus commented on #5
@teresakozera Could you suggest how to integrate [attentionTracker](https://github.com/chili-epfl/attention-tracker) into the project, I've tried for some time but still stuck and haven't got anywhere. almost close to pull my hairs out

[2016-08-28 20:04] #8 closed

[2016-09-01 17:00] willard-yuan commented on #7
When I compiles the project, I also face the problem. Anyone knows how to deal with the problem?

[code]

[2016-09-01 18:45] zweigraf commented on #7
Don't use the simulator :) The camera won't work anyway. This error just means that the Dlib library is not compiled for the simulator (i386).

[2016-10-01 07:24] aleksbgs opened #11 "detect face no live video"
Hi this is great job !!! it's possible to detect face in video in view ? not live cam video something like this https://www.assetstore.unity3d.com/en/#!/content/66602

[2016-11-08 13:59] odedharth opened #12 "reduce app size"
As the landmarks file is very big (around 90mb) its causes the IOS app to be much larger in size.
Do you think there is a way reduce the size of the file (maybe zip it in some way)?

[2016-11-18 16:04] AndreaPisoni commented on #11
Please note that this app does not detect faces. It "just" does landmarking. The face detection is done by the standard Apple library. To answer your question, of course you can do it with a static image, just change the `doWork` function to something that suits you and call it from a controller that makes sense.

[2016-11-18 18:51] zweigraf commented on #12
I am not sure if it is zipped already, so that may be worth a try.

Also, you can generate your own Dlib model which includes less landmarks and possible less accuracy, giving you a smaller model file size. I did not test that, as you need quite a powerful computer (lots of memory) for generating the model.

[2016-11-18 18:58] zweigraf commented on #11
You can use Dlib to detect faces in a static frame as well.

This is albeit very slow.

Check line 38 and 86 here: https://github.com/zweigraf/face-landmarking-ios/blob/062bf6dabfb1445ddcc1eb7d0344155fee8f4e0b/DisplayLiveSamples/DlibWrapper.mm#L38

This is an old version of the app which uses Dlib face detection. It is far slower than using the apple provided one on a camera feed.

[2016-11-19 10:10] AndreaPisoni opened #13 "Compiler + linker flags"
Hi Zweigraf, great job with the detector, it's a great example to learn how to use dlib in iOS!

I noticed I don't see any compiler or linker flags... is this intended? How do you use lapack, blas, png support etc. without any flags? Also, won't there be some flags to speed up the program by deactivating some debug assert?

[2016-11-19 10:11] AndreaPisoni commented on #12
Also, you should zip the file to see how much space it will actually take when you build the app, since the IPA is already a compressed archive.

[2016-12-07 03:14] McCaela opened #14 "Dlib points"
If I wanted to print the 68 points of dlib what would be the syntax? I'd like to print in the dlibwrapper.mm file

[2016-12-07 06:13] #14 closed

[2016-12-11 10:31] #13 closed

[2016-12-20 09:09] parin0505 opened #15 "Object detection in IOS"

[2017-01-17 05:39] abhisuri97 opened #16 "Apple Mach-O Linker Error"
[code]
I downloaded the github files as is, but I am getting the above error. Are there any other steps I need to take to get dlib to compile correctly?

[2017-01-17 05:53] abhisuri97 commented on #16
Never mind. found the issue in #7

[2017-01-17 05:53] #16 closed

[2017-01-24 20:19] #15 closed

[2017-02-01 12:18] PPPiotr opened #17 "Problems with image size 1080x1920"
There is a strange problem with this lib when working on images with resolution 1080x1920  (WIDTHxHEIGHT). It produces artefacts like this:
![img_0191](https://cloud.githubusercontent.com/assets/25479486/22504977/3d225290-e879-11e6-9f32-b92d875b7ebe.PNG)
Not only drawing is corrupted but also points positions.

To reproduce this bug You only need to add this:
[code]
Just before `session.commitConf

[2017-03-08 01:18] dboyliao commented on #7
I encounter the same issue when I build `dlib` from source and drag the static library into my xcode project. I finally manage to fix this error and I think it is good to have a step by step approach here for those who are not familier with compilation/linking. See [here](http://stackoverflow.com/questions/34591254/how-to-build-dlib-for-ios) for instructions of building `dlib` for `iOS`.

The orig

[2017-03-15 15:30] wlads commented on #12
Using gzip the shape_predictor_68_face_landmarks.dat file goes from 99,693,937 to 72,325,689 bytes.. don't think it is worth. Besides you will have to decompress the file at runtime.

[2017-03-15 15:50] zweigraf commented on #12
Well that is a nice improvement, around 20%.

If you combine this with a custom model with less landmarks, you could have some nice results.

[2017-04-27 22:14] tveritinova opened #19 "Ignoring enqueueSampleBuffer"
Hi! During the restart of the application, the picture from the camera does not appear and writes a message:
`Ignoring enqueueSampleBuffer: because status is "failed"`
Are there any solutions?

[2017-04-29 00:41] tveritinova commented on #19
I find a solution: http://stackoverflow.com/questions/43687169/ios-ignoring-enqueuesamplebuffer-because-status-is-failed

[2017-04-29 00:43] tveritinova commented on #19
or leave this issue open to other people who want to fix this bug?

[2017-05-04 02:11] kanluo91 opened #20 "question about Dlib library"
is Dlib library free and OpenSource?

[2017-05-04 10:17] shaileshh commented on #5
@teresakozera  @hoangdado
i am trying to convert this into objective c  using `AVCaptureStillImageOutput`,`AVCaptureVideoPreviewLayer`.
Im using` captureStillImageAsynchronouslyFromConnection: completionHandler: ^(CMSampleBufferRef imageSampleBuffer, NSError *error)` to capture still image and  convert CMSampleBufferRef to `uiimage` and display it on `Uiimageview`. but i get clicked image in lands

[2017-05-04 16:29] zweigraf commented on #20
For licensing of Dlib please check <http://dlib.net/license.html>.

[2017-05-04 16:29] #20 closed

[2017-05-06 11:44] Miths19 commented on #5
i want to crop landmarked portion of the face...... i want only the face can any one help me for this

[2017-05-10 18:54] WaqarKhalid opened #21 "How to do this face landmarking with image"
I want to use still image from my phone gallery for landmarking.How can I do that?

[2017-05-14 15:22] zweigraf commented on #21
Check #11 for more information. Basically you need to get the pixel buffer of the image and then run that to a modified version of this app. Please use the other issue for further discussion.

[2017-05-14 15:22] #21 closed

[2017-05-18 09:20] JanDriesen opened #22 "X11/Xlib.h not found"
when I use dlib in my projects, Xcode says that 'X11/Xlib.h' not found. I have used the same instructions to build it: http://stackoverflow.com/questions/34591254/how-to-build-dlib-for-ios/35058969#35058969.
It also appears when I use your lib folder and set it in Header Search Paths. This is my first project where I have to change the build settings for a 3rd party lib

Lexical or Preprocessor Is

[2017-05-19 07:42] def1984 commented on #19
// MARK: AVCaptureVideoDataOutputSampleBufferDelegate

if  layer.status == .failed  {
            layer.flush()
        }
        layer.enqueue(sampleBuffer)

[2017-05-22 05:35] Miths19 commented on #17
Same issue with me also .... have you solved this problem?

[2017-05-22 08:27] PPPiotr commented on #17
No, I'm using smaller resolution instead.

[2017-05-29 06:52] shaileshh commented on #21
@zweigraf i managed to convert this swift project to objective c, should i upload it?

[2017-06-07 09:37] MGIEFung commented on #6
how about run in main thread while AVCaptureVideoDataOutputSampleBufferDelegate received?

[2017-06-08 10:49] saturngod opened #23 "filling the color ?"
How can I fill the color ? I try to use with uibezierpath and Point position are not same. I cloudn't find a way to draw polygon with dlib.

Is it possible to draw line and fill like uibezierpath in dlib or I need to recalculate the pixel ?

[2017-06-23 20:49] alberto093 commented on #17
Same issue...could be an AVFoundation issue?

[2017-07-03 07:32] SosonHuang opened #24 "Open on iphone7, landmark undetectable？"
Open on iphone7, landmark undetectable？

[2017-07-03 14:00] scm-ns commented on #7
For me what ended up solving the issue was build Dlib under Release mode, by specifying it in the scheme. Thanks a lot for all the help!

[2017-07-04 11:35] SosonHuang commented on #24
![image](https://user-images.githubusercontent.com/6091199/27828554-47217034-60ef-11e7-99b4-0995ffea93a0.png)

[2017-07-05 09:37] zweigraf commented on #24
This might have to do with resolution of the camera, I am not sure. I don't have an iPhone 7 to test this here, sorry.

[2017-07-19 10:30] singhiam commented on #12
Thanks for the repo and efforts you guys put on this 👍

Can you please guide me how can I create custom models ?

Looking forward to hear from you..

thanks

[2017-07-22 14:08] zweigraf commented on #12
I did not do that myself yet, so I can only refer you to the Dlib documentation.

They talk about this feature [here](http://blog.dlib.net/2014/08/real-time-face-pose-estimation.html) and talk about it in the comments of this article. Sample code for training a model is [here](http://dlib.net/train_shape_predictor_ex.cpp.html).

[2017-07-24 11:29] Aymarick commented on #24
@zweigraf It is exactly the problem.
If you add `session.sessionPreset = AVCaptureSessionPreset1280x720` just before the `session.commitConfiguration()` in the `SessionHandler.swift` it will fix the issue.

[2017-07-28 04:12] blackshrub commented on #23
Any update on this? @saturngod

[2017-07-29 14:15] zweigraf commented on #23
There is a function in Dlib called `draw_solid_convex_polygon`. This might work for your needs.

You would use this with all points from the detector I guess instead of this code:

        // and draw them into the image (samplebuffer)
        for (unsigned long k = 0; k < shape.num_parts(); k++) {
            dlib::point p = shape.part(k);
            draw_solid_circle(img, p, 3, dlib::rgb_pixel(

[2017-07-31 06:00] demonarola opened #25 "Can i put mask on face?"
How can i put mask on face?
Anyone have idea about it.
Please share with me.

[2017-08-01 04:29] #25 closed

[2017-08-03 11:31] seebeb commented on #23
I found a fork for this: [https://github.com/stanchiang/face-landmarking-ios](https://github.com/stanchiang/face-landmarking-ios)

He use SpriteKit to draw from swift, it's faster than draw it with uibezierpath and use it as sublayer, maybe you need to modify some of the code at
[code]

**Note:**
you need to fix the center part, maybe there's miscalculation for this part:
[code]

[2017-08-04 11:16] seebeb opened #26 "Enhance dlib::deserialize time"
Is there any workaround to enhance ```dlib::deserialize``` method?
because when i debug, this method takes about 5s to finish

[2017-08-04 12:58] berkerbilgi opened #27 "Reduce fps"
Hey, is there any way to slow process time? I want to get positions twice a second?

[2017-08-10 13:19] torrtuga commented on #7
@dboyliao Hi,
I did add for both Custom Compiler Flag as well as Preprocessor Macros.
But am still getting the same `"_USER_ERROR__missing_dlib_all_source_cpp_file__OR__inconsistent_use_of_DEBUG_or_ENABLE_ASSERTS_preprocessor_directives_", referenced from:` error.

I just added one line : `#include <dlib/image_processing.h>` to check for dlib. And this line gave me the error.

[2017-08-14 06:09] trungnguyen1791 commented on #5
@stanchiang You could easily change "VideoMirrored"  mode with this one instead of doing some manual transforms
`if (connection.isVideoMirroringSupported) {
            connection.isVideoMirrored = true;
        }`

[2017-08-15 19:31] #22 closed

[2017-08-17 09:33] ozanyaldir opened #28 "doesnt recognize faces on iphone6s bak and iphone7 back and front portrait camera"
I think the high resolution causes this issue. on iphone 7, portrait camera does not recognize faces. If anyone solved this please help me too.

[2017-08-22 20:14] aguusvazquez opened #29 "'vector' file not found"
Hi, first of all, thanks a lot for the library! It's great!!
I'm having this issue everytime, and I don't know how to fix it:

ios/lib/dlib/image_processing/scan_image.h:6:10: 'vector' file not found

This happens when I include this line in the .m file:

#include <dlib/image_processing.h>

Anyone knows why this is happening?

Thank you very much!!

Agustin

[2017-08-23 06:09] lawliet0823 commented on #29
.m file is for Objective-C
.mm file is for Objective-C、C/C++
You should try to change your filename extension.

[2017-08-23 12:37] aguusvazquez commented on #29
@lawliet0823 Thanks man!! Now it's compiling well

[2017-08-23 12:37] #29 closed

[2017-08-28 17:04] kennybatista commented on #28
I got it to work on iPhone 7 & iPad Pros

All I had to do was change the sessions input preset with one line of code:

`session.sessionPreset = AVCaptureSessionPreset640x480`

[2017-08-28 21:31] kennybatista commented on #7
The error still continued in my case, until I realized that I had made a silly mistake. I had added the preprocessor macros but only on debug mode, I fixed it by making sure that it was inputed on both Debug and Release.
![screen shot 2017-08-28 at 2 31 31 pm](https://user-images.githubusercontent.com/10367842/29794634-99697b82-8bfd-11e7-9897-7aab1bcdd542.png)

[2017-08-29 00:09] ccastelano opened #30 "Help"
Is there any way to access the coordinates of the points detected by the algorithm, inside the "SessionHandler.swift" file? (more specifically inside the "captureOutput" function). I'm trying to figure out how to do this for a few days, but I couldn't get any further, because I'm having difficuties to understand Objective C to adapt the code. Thank you in advance!

[2017-08-29 15:11] aguusvazquez opened #31 "Sending UIImage to DlibWrapper.mm"
People, I'm getting crazy with something. Im trying to send a UIImage to the function, but it is very slow (more than 10 seconds)... Can this be related to the size of the image or it quality?

Show you part of my code:

First of all I created this function in the DLIB Wrapper:

`- (void)processImage:(UIImage*) uiImage {

    CGFloat width = uiImage.size.width, height = uiImage.size.height;
    CG

[2017-08-29 17:36] aguusvazquez commented on #31
Solved it!!! Just needed to resize the Image before sending it to the function. Thanks anyway. Maybe this post helps somebody with the same problem.

[2017-08-29 17:36] #31 closed

[2017-08-29 19:28] GLinnik21 opened #32 "'vector' file not found"
Sorry guys. I have the same question. I develop my own app with face landmark detection and use this project as an example. I installed dlib with [cocoa pod](https://cocoapods.org/pods/dlib), also tried library provided in this repository and every time I include `<dlib/image_processing.h>` I get
`.../Pods/Headers/Public/dlib/dlib/image_processing/scan_image.h:6:10: 'vector' file not found`.
If I

[2017-08-29 19:29] GLinnik21 commented on #32
Seems like I can't include any STL template

[2017-08-29 19:32] GLinnik21 commented on #25
I have the same question. @demonarola share you researches on this topic please

[2017-08-29 21:59] GLinnik21 commented on #7
Same here

[2017-08-29 22:01] GLinnik21 commented on #32
I've tried again provided library. And get the same linker error other had before

[2017-08-30 22:31] GLinnik21 commented on #32
Don't put everything in one `.mm` file. Bridging header should get only `.h` or `.m` files

[2017-08-30 22:31] #32 closed

[2017-09-01 08:44] zweigraf commented on #30
Yes you could return the calculated coordinates from the `doWork` method in DlibWrapper.

[2017-09-01 13:34] ccastelano commented on #30
It worked perfectly, man!

However, I came across with one last "coordinate conversion" issue.

The code after the modification seems like:

[code]

Now, inside my **ViewController.swift**, I declared an global variable for "myView" as follow:

[code]

And finally, inside my **SessionHandler.swift** file, I did like:

[code]

Then, I noticed that the position of the points are not coinciding, and

[2017-09-01 13:41] zweigraf commented on #30
If I understand the problem correctly, yes you need some coordinate conversion.

In this line: https://github.com/zweigraf/face-landmarking-ios/blob/master/DisplayLiveSamples/SessionHandler.swift#L72 we first convert the metadata object into some other format depending on camera orientation and stuff like that.

Then, in this line: https://github.com/zweigraf/face-landmarking-ios/blob/master/Displ

[2017-09-19 17:25] jagatfx commented on #27
@berkerbilgi you can add the following code to adjust the frame rate at https://github.com/zweigraf/face-landmarking-ios/blob/master/DisplayLiveSamples/SessionHandler.swift#L52

[code]

[2017-09-24 11:31] AhmedShammala opened #33 "get specific part points or location like eye or mouth"
Hi ,
Thank your for a amazing project ,  i need to get Coordinates for specific face parts like eye and mouth to crop it later
thanks on advance

[2017-10-02 07:07] Ramani1994 commented on #17
not perfect point find face ...

[2017-10-13 03:10] wangwenzhen commented on #5
@stanchiang I want to be able to support detection in both horizontal and vertical screens，can you provide sample demo ？

[2017-10-24 19:51] saturngod commented on #23
@zweigraf  `draw_solid_convex_polygon` doesn't support in your libdlib.a.

@seebeb we cannot use that code because the point is missing base on the phone. Example not working well iPhone 7 and iPad.

[2017-11-01 21:36] JamesRArroyo commented on #23
@saturngod  Have you found a way to draw a polygon using the facial landmark points? I am also looking for a way to accomplish this. I'll let you know if I find anything as well.

[2017-11-20 20:34] da1ssk commented on #28
AVCaptureSession.Preset.hd1280x720 also worked on iPhone X.

[2017-11-21 11:08] PavanMore commented on #7
I am facing same issue tried all issues above but I have stuck for flag -std=c++11, when I set it in build setting in project I get the more errors and I cannot build library without that flag. So its like blocker , I am trying to build 19.4 version. Any help will be appreciated.

[2018-03-07 08:43] IvanovGeorge opened #35 "Get head pose estimation using dlib"
Is it possible to get head rotation angle with only dlib? In every example ( like [this](https://www.learnopencv.com/head-pose-estimation-using-opencv-and-dlib/) ) people use OpenCV. This is a good solution, but increases app size too much (dlib + model + opencv = 250 mb).

[2018-03-09 13:31] harshchitrla commented on #30
@zweigraf   Any idea how do I convert Dlib to iOS points ? Anyone tried to figure out.

[2018-03-13 13:47] harshchitrla commented on #30
@ccastelano hi, did you manage to solve "coordinate conversion" issue

[2018-03-20 22:47] leynercastillo commented on #30
@harshchitrla hi. The coordinates returned by Dlib are the coordinates of the original image. You only need to convert the original image coordinate to you UIImageView or containerView coordinates. That depend of you content mode and the container size.

[2018-03-26 11:27] RubenBenBen opened #36 "Get landmarks without using bgra"
Hey, nice project <3 I was wondering can you get landmarks without setting video settings to BGRA and using the default 420f? or Somehow convert the CMSampleBuffer in the captureoutput from BGRA to 420f?

[2018-04-12 13:05] vuvkar commented on #3
Hi, This project is a great one, it helped me in the beginning of using dlib in iOS. I also want to get dlib::rectangle from iOS CIFaceFeature, as it is much faster. The thing is that, using face detection with faceFeature.bound rect  the points are calculated wrong. I compared 2 dlib::rectangles, one gotten from faceFeature.rect, and the other from dlib::get_frontal_face_detector(). the second on

[2018-04-20 04:32] faoiseamh commented on #6
I also see significant jitter / noise on iOS vs. OSX. I've been rendering the face detection box to debug and the noise + jitter is present even when the face detection remains constant and everything is motionless in the frame. My OSX webcam is worse quality and about the same resolution. Anyone ever resolve this issue?

I'm also using my own iOS project (just ended up here from googling), howeve

[2018-04-20 23:56] faoiseamh commented on #6
@mosn / For anyone else who lands here from Googling:

I was able to figure out the issue on my end -- it was the result of reading the sample buffer as if it was BGR pixels when in fact it was BGRA. I fixed it by reading the buffer as BGRA into a CV_8UC4 mat and then converting the mat to BGR (because of assertions in dlib methods rejecting mats with an alpha channel).

[2018-04-25 15:06] Cloov commented on #6
@faoiseamh I think I'm experiencing the same issue - I used two iPads both stationary, with one viewing a video on the other (instead of shakily holding a camera up at my own face), and the amount of jitter was the same.

I'm not using a cv::mat at the point I'm reading from the AVCaptureSession sample buffer, I just step through the buffer 4 elements at a time and ignore the fourth value each tim

[2018-04-25 19:45] faoiseamh commented on #6
@Cloov If you're building the dlib datastructure directly that should be fine. The format of the buffer depends on the pixel format you've set for the av catpure session. If it's BGRA then your logic is right, but it may be one of several other more exotic formats. I would first validate the format you set. I'd also try rendering the dlib datastructure back to a UIImage or something that you can v

[2018-05-01 20:24] faoiseamh commented on #6
I gave the native ios face detection a try as a faster alternative to dlib's frontal face detector. The results are significantly faster, but the resulting bounding face box is not as optimal as input for dlib's landmarking. It seems to be generally smaller and as a result the landmarking get confused if the head is at even relatively small angles. This is probably a large source of the "noise" ev

[2018-05-01 21:50] Cloov commented on #6
I've been using the native iOS face detection, but it was already in the project I began with. I tried simply expanding those boxes 5, 20, and then 50 pixels on each side (as a temporary measure) as the position of the face detection was fine, it just seemed to be that the rectangles were highlighting facial features tightly and not encompassing any more.

However, that didn't improve the jitter f

[2018-05-01 23:31] faoiseamh commented on #6
@Cloov The face detection being too large is a problem as well. It seems the landmarking relies on fairly precise detection area. If it's too large the edges of the face can jump around, so chin and jaw line are problematic. My current iteration uses the ios native face detection as a starting point, expands that by 25% in all directions, then downsizes the resulting region and runs the dlib face

[2018-05-06 13:29] scorrea92 opened #37 "Apple Mach-O Linker (ld) Error Group"
Hi, I was trying to make my own app using some dlib, content but I have this error.

ld: warning: ignoring file /Users/sebastiancorrea/Documents/UPV/Master_IARFID/TFM/Bloque2/mobile-emotion-classifier/mobile/IOS/FaceVision/FaceVision/lib/libdlib.a, file was built for archive which is not the architecture being linked (arm64): /Users/sebastiancorrea/Documents/UPV/Master_IARFID/TFM/Bloque2/mobile-em

[2018-05-14 05:53] AlexFWulff commented on #17
Has anyone figured out why this issue arises yet? It's affecting me as well

[2018-05-16 15:48] Cloov commented on #6
@faoiseamh I think a lot of the more extreme noise I was experiencing was down to reflections! I was often pointing at 3d models on my screen. I think I also need to average out changes in my pose transform, because even when detection is going well, a quite-still target face causes a lot of shaking. Do you have any advice on averaging this motion out - techniques or algorithms? Are they in openCV

[2018-05-16 18:47] faoiseamh commented on #6
I rolled my own and it's not advanced at all. I'm just using a moving
average -- so averaging the last several values. You could take the
trailing X values and use a more powerful stat technique to remove outliers
if you wanted even better results.
ᐧ

On Wed, May 16, 2018 at 11:48 AM, Shaun Campbell <notifications@github.com>
wrote:

--
Peter Jackson
Parable Health, Inc.
http://parablehealth.com

[2018-06-01 14:29] RubenBenBen commented on #6
@Cloov @faoiseamh Hi guys, I ended up here from googleing too. @faoiseamh  Not sure if your suggestion about changing BGRA to BGR will make a difference, because if you print the alpha components of your bgra sampleBuffer you can see that it is always \xff which is 100%. So basically it should be the same with just ignoring the alpha component as far as I understand. I use this exact project and w

[2018-06-22 13:47] liamwalsh commented on #5
*bump*
I'm still having this issue on the latest master - setting my AVCaptureConnection videoOrientation to portrait causes all of the feature points to be wrong.

[2018-06-26 11:43] ghost commented on #17
Any solution, guys?

[2018-07-05 15:24] Hardy143 commented on #5
@liamwalsh were you able to find a solution? I'm having the same problem as you.

[2018-07-05 16:45] Hardy143 commented on #5
@liamwalsh I found I was putting connection.videoOrientation = AVCaptureVideoOrientation.portrait in the wrong captureOutput function. It now works for me:

<img width="731" alt="screen shot 2018-07-05 at 17 45 26" src="https://user-images.githubusercontent.com/33378549/42336318-40bf43ea-807b-11e8-9573-6b9a9791d308.png">

[2018-07-13 10:58] Hardy143 commented on #37
Hi, I'm having the same problem. Have you found a solution?

[2018-07-13 11:00] scorrea92 commented on #37
No I haven’t find a solution, I just create my own methods using Opencv.

[2018-07-18 12:14] Hardy143 commented on #37
I found a solution to getting this working. At the bottom of this [article](https://xiomarg.github.io/blog/Use-Dlib-on-iOS/) it explains that the problem is that the architecture in the compiled Dlib project is set up wrong. You need to change the Base SDK settings to iOS and make sure that valid architectures has arm64 in it. Then create a new Scheme for release and run it. This will create a new

[2018-08-01 12:28] jasonrwalters commented on #17
Also have this issue.

[2018-09-14 12:57] jpatel956 commented on #5
@stanchiang

First of thanks for your link.
https://github.com/stanchiang/face-landmarking-ios

I have succesfully run your code but not have one issue that you face earlier may be offset where my cgpoint coordinates have a weird offset for some reason.

Here I am getting error:

can you please help me to come out.

Thanks

[2018-09-28 15:33] niimi commented on #17
DlibWrapper.mm L57
`size_t width = CVPixelBufferGetBytesPerRow(imageBuffer)/4;`
same as below
`size_t width = 1088;`

worked on ipad pro front camera. (1080x1920)

[2018-10-27 14:17] softdev999 commented on #3
This project is really great!!!, but I got the same issue when we try to do face detect from UIImage, we have same issue above. @Luis, could you please help us on this? Thank you

[2018-11-09 12:50] jirkaskotak commented on #30
Hey, has anyone found a solution to this?

[2019-03-20 07:41] nehayadav94 commented on #23
@saturngod can you help out with this?

[2019-08-31 14:01] WimVriend commented on #7
Same here: that nasty bugger did not want to go...

Finally I realised that it is also possible to use dlib without using cmake, as mentioned under chapter [Compiling C++ Examples Without CMake](http://dlib.net/compile.html). I added _/all/source.cpp_ to my project and removed libdlib.a. Of course, I also had to add the correct path to the Header Search path (1 for dlib itself and one for libjpeg)

[2020-02-21 07:45] shohu opened #38 "How can I draw correct circle for face landmark at Portrait mode?"
I can't draw correct circle at  Portrait  mode.
I find shape, but not circle, just line. like this.

How can I draw correct circle for face landmark at Portrait  mode?

<img width="358" alt="スクリーンショット 2020-02-21 16 33 06" src="https://user-images.githubusercontent.com/1214532/75013582-e545bf80-54c7-11ea-86f5-da77b46943c3.png">

I only fixed two things.

1. Check Portrait at Device Orientation. (an

[2020-07-14 18:26] ScientistMe commented on #38
did you find any solution on this? i'm having the same problem

[2020-07-14 23:54] shohu commented on #38
I gave up using this library.
I decided to try to use CIFaceFeature each sampleBuffer frame.
But poor accuracy

[2020-07-17 10:11] ScientistMe commented on #5
Hi,
i'm dealing with this issue, and i'm not able to get it working in portrait mode. I've read all the threads here.
My guess is that in portrait mode i'm having a wrong proportions of the layer where the wrapper draws the points on it because the points looks distorted.
![IMG-4956](https://user-images.githubusercontent.com/44803516/87775581-a291d480-c826-11ea-8fb0-96ae7bb5edaf.jpg)
![IMG-4957](h